<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h3>Examples: </h3>
<ul>
  <li>
    <div><strong>knifeNoSpaces</strong></div>
    <input knifeNoSpaces type="text" placeholder="No Spaces">
  </li>
  <br/>
  <li>
    <div><strong>knifeNoCopyPaste</strong></div>
    <input knifeNoCopyPaste type="text" placeholder="No Copy Paste">
  </li>
  <br/>
  <li>
    <div><strong>knifeAlphanumeric</strong></div>
    <input knifeAlphanumeric type="text" placeholder="Alphanumeric">
  </li>
  <li>
    <div><strong>knifeOnlyNumbers</strong></div>
    <input knifeOnlyNumbers type="text" placeholder="Only Numbers">
  </li>

</ul>

